@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("/src/assets/fonts/SF-Pro-Text-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
